<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积木星球</title>
    <link rel="stylesheet" href="/stylesheet/index.css">
</head>
<body>
    <section id="loading" class="page-loading">
        <div class="music" data-status="true">
        </div>
        <div class="robot">
            <img src="/image/loading/robot.png" alt="">
        </div>
        <div id="continue" class="continue">
            <i class="cert"></i>
            <p>向上滑动开启探索之旅</p>
        </div>
        <div class="clearfix"></div>
    </section>
    <div id="pageContain" class="pageContain">
        <div class="page current">
            <div class="contain">
            </div>
        </div>
        <div class="page page1">
            <div class="contain">
                <section class="page-1">
                    <div class="bgImg-1">
                        <div class="music" data-status="true"></div>
                        <div class="chooseTeam">
                            <div class="teamContainer">
                                <img src="/image/index/ly.png" alt="">
                            </div>
                            <div class="teamContainer">
                                <img src="/image/index/lxp.png" alt="">
                            </div>
                            <div class="teamContainer">
                                <img src="/image/index/lzy.png" alt="">
                                    </div>
                            <a class="left" href="javascript:;">
                                <img src="/image/index/left.png" alt="">
                            </a>
                            <a class="right" href="javascript:;">
                                <img src="/image/index/right.png" alt="">
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="page page2">
            <div class="contain">
                <section class="page-2">
                    <div class="music" data-status="true"></div>
                    <div class="bgImg">
                        <img src="/image/pinjie/pinjiebg.png" alt="">
                    </div>
                </section>
            </div>
        </div>
        <div class="page page3">
            <div class="contain">
                <section class="page-3">
                    <div class="music" data-status="true"></div>
                    <div class="bgImg">
                        <img src="/image/program/programbg.png" alt="">
                    </div>
                </section>
            </div>
        </div>
        <div class="page page4">
            <div class="contain">
                <section class="page-4">
                    <div class="music" data-status="true"></div>
                    <div class="bgImg">
                        <img src="/image/index/index.png" alt="">
                    </div>
                </section>
            </div>
        </div>
        <div class="page page5">
            <div class="contain">
                <section class="page-5">
                    <div class="music" data-status="true"></div>
                    <div class="bgImg">
                        <img src="/image/index/index.png" alt="">
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="/script/fullPage.min.js"></script>
<script src="/script/jquery.min.js"></script>
<script src="/script/index.js"></script>
</html>